<div class="card border-left-success shadow h-100">
    <div class="card-header py-3">Температура</div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <span class="h1"
                      [ngClass]="{'text-primary': false, 'text-info': false, 'text-success': true, 'text-warning': false, 'text-danger': false}">
                    {{averageTemp}}&#8451;
                </span>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let sensor of sensors">
                        <div class="row">
                            <div class="col-8">{{sensor.name}}</div>
                            <div class="col-4">{{sensor.value}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            График температуры за сутки
        </div>
    </div>
</div>